@"
# python
__pycache__/
*.pyc
*.pyo

# virtualenv
venv/
.env
.envrc

# logs & runtime
logs/
*.log
*.raw
*.jpg
*.png
*.avi

# vscode
.vscode/

# system
.DS_Store
"@ | Out-File -Encoding UTF8 .gitignore
