# python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# runtime / data / logs
data/
logs/
*.log
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.raw
*.avi
*.mp4

# env
venv/
.env
*.egg-info/

# others
.DS_Store
